*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
background: url('./src/assets/image/background.jpg');
background-repeat: no-repeat;
background-size: cover; 
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-image: 100vh;
}
.loading{
  background-color: black;
  font-size: 10rem;
  color: orangered;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.link{
  text-decoration: none;
}
@media only screen and (max-width: 850px){

  .loading{
    font-size: 9vw;
  }
}






